<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../stylesheets/w3.css" rel="stylesheet" type="text/css" />
    <title>Inventario | Inicio</title>
    <link href="../stylesheets/menus.css" rel="stylesheet" type="text/css" />
    <script src="../javascripts/index.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../sweetalert/dist/sweetalert.css">
    <script src="https://www.w3schools.com/lib/w3.js"></script>

</head>

<body class="w3-white">

    <div class="topnav" id="myTopnav">


    <a href="/home" class="w3-bar-item w3-button "><span class="fa fa-home"></span> Inicio</a>
    <a href="/cliente" class="w3-bar-item w3-button"><span class="fa fa-address-book"></span> Clientes</a>

    <a href="/inventario" class="w3-bar-item w3-button"><span class="fa fa-th-large"></span> Inventario</a>
   
    <a href="/acta" class="w3-bar-item w3-button"><span class="fa fa-file"></span> Actas</a>

 
    <a href="/logout" class="w3-bar-item w3-right"><span class="fa fa-sign-out"></span> Cerrar sesión</a>
    <a  class="w3-bar-item w3-right"><span class="fa fa-user-circle"></span> <%-usuario.nombres_usuario%></a>
    <input id="nombreUsuario" class="w3-hide" value="<%-usuario.nombre_usuario%>">
    


    <a style="font-size:15px;" class="icon" onclick="myFunction()"> <span class="fa fa-bars"></span></a>

</div>


    <div class="w3-bar w3-light-grey w3-padding w3-card-4 ">
        <div class=" w3-mobile">
            <button onclick="document.getElementById('modalNuevo').style.display = 'block'" class=" w3-bar-item w3-button w3-teal  w3-circle w3-btn w3-left  "><span class="fa fa-plus"></span></button>
            <button class="w3-bar-item w3-button w3-teal w3-right  "><span class="fa fa-search"></span></button>
            <input oninput="w3.filterHTML('#listaActas', 'li', this.value)" id="txtBuscar" type="text" class="w3-bar-item w3-input w3-white w3-right  "
                placeholder="Buscar actas..">
        </div>
    </div>
    <div class="w3-sidebar w3-bar-block w3-collapse w3-card-2 w3-animate-left w3-white w3-margin-top" style="width:200px;" id="mySidebar">
        <button class="w3-bar-item w3-button w3-large w3-hide-large" onclick="w3_close()">Cerrar &times;</button>
        <div class="w3-container w3-padding w3-center w3-white w3-bar-item">

         


        </div>


    </div>

    <div class="w3-main" style="margin-left:200px">
        <div class="w3-white">
            <button class="w3-button w3-white w3-xlarge w3-hide-large" onclick="w3_open()">&#9776; <span class="fa fa-filter"></span></button>

        </div>

        <div class="w3-container ">
            <h4 id="mensaje"></h4>
            <div class="w3-responsive">
                <table id="listaActas2" class="w3-table w3-table-all w3-hoverable w3-hide">
                    <thead>
                        <tr>
                            <th>No. Acta</th>
                            <th>Fecha y hora</th>
                            <th>Descripción</th>
                            <th>Contrato</th>
                            <th>Cédula cliente</th>
                            <th>Nombre cliente</th>
                            <th>Tipo</th>
                        </tr>
                    </thead>
                    <tbody class="">
                        <tr w3-repeat="actas" class="item">
                            <td>{{acta}}</td>
                            <td>{{fecha}}</td>
                            <td>{{descripcion}}</td>
                            <td>{{contrato}}</td>
                            <td>{{cedula}}</td>
                            <td>{{nombre}}</td>
                            <td>{{tipo}}</td>
                        </tr>
                    </tbody>


                </table>
            </div>


            <ul id="listaActas" class="w3-ul w3-card-4 w3-white w3-hide">
                <li class="w3-padding-16" w3-repeat="actas">

                    <div class="w3-row">
                        <div class="w3-col s3 m3 l1">
                            <img src="../images/acta.png" style="width:60px">
                        </div>
                        <div class="w3-col s6 m6 l8">
                            <span class="w3-large">No. Acta {{acta}} </span><br>
                            <span> <strong>Tipo: </strong>{{tipo}}<br></span>
                            <span> <strong>Fecha y hora: </strong>{{fecha}} {{hora}}<br></span>
                            <span> <strong>Descripción: </strong>{{descripcion}}<br></span>
                            <span> <strong>No. Contrato: </strong><a>{{contrato}}</a><br></span>
                            <span> <strong>Cédula cliente: </strong><a>{{cedula}}</a><br></span>
                            <span> <strong>Cliente: </strong><a>{{nombre}} {{apellido}}</a><br></span>
                        </div>
                        <div class="w3-col s3 m3 l2 w3-center">

                            <span> <strong>Productos: </strong>{{cantidad}}<br></span><br>
                            <span onclick="anadirProducto('{{acta}}','{{tipo}}')"><button  class=" w3-button w3-white w3-border w3-border-gray   "><span class="fa fa-truck"></span></button>
                            </span>
                            <span onclick="cargarTablaDetalle('{{acta}}','{{nombre}} {{apellido}}','{{contrato}}','{{descripcion}}','{{fecha}}','{{hora}}')"><button  class=" w3-button w3-white w3-border w3-border-gray   "><span class="fa fa-eye"></span></button>
                            </span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div id="id01" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

            <div class="w3-center"><br>
                <div class=" w3-container w3-teal-gray">
                    <h3>Nuevo Cliente</h3>
                </div>
            </div>

            <form class="w3-container" method="post" action="/cliente/nuevoRegistro">
                <div class="w3-section">
                    <div class="w3-row">
                        <div class="w3-col s12 m12 l6 w3-padding">

                            <input class="w3-input w3-mobile" type="text" placeholder="Ingresar cédula" name="cedula" required>
                            <input class="w3-input" type="text" placeholder="Ingresar nombres" name="nombre" required>
                            <input class="w3-input" type="text" placeholder="Ingresar apellidos" name="apellido" required>
                            <select id="genero" class="w3-select" name="genero" required>

                                </select>
                            <select id="estado" class="w3-select" name="estado" required>
                                    <option disabled selected>Seleccionar estado civil...</option>
                                </select>
                            <input class="w3-input" type="number" placeholder="No. teléfono fijo" name="domicilio" required>



                        </div>

                        <div class="w3-col s12 m12 l6 w3-padding">
                            <input class="w3-input" type="number" placeholder="No. celular" name="celular" required>
                            <input class="w3-input" type="email" placeholder="Email" name="correo" required>
                            <input class="w3-input" type="date" placeholder="Fecha de nacimiento" name="fecha" required>
                            <input class="w3-input" type="text" placeholder="País" name="pais" required>
                            <input class="w3-input" type="text" placeholder="Ciudad" name="ciudad" required>
                            <input class="w3-input" type="text" placeholder="Dirección" name="direccion" required>
                        </div>

                    </div>


                    <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Guardar</button>


                </div>
            </form>

            <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                <button onclick="document.getElementById('id01').style.display = 'none'" type="button" class="w3-button w3-red">Cancelar</button>

            </div>

        </div>
    </div>

    <div id="modalNuevo" class="w3-modal ">
        <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

            <header class="w3-container w3-teal">
                <span onclick="document.getElementById('modalNuevo').style.display = 'none'" class="w3-button w3-display-topright">&times;</span>
                <h4>Nueva acta</h4>
            </header>


            <div class="w3-section">

                <div class="w3-row">
                    <div class="w3-col s12 m12 l12 w3-padding">

                        <input class="w3-input w3-mobile" type="text" placeholder="Ingresar número de acta" id="codigo" required>
                        <select class="w3-select w3-input" id="tipo">
                                <option value="Seleccionar tipo de acta" selected disabled >Seleccionar tipo de acta...</option>
                                <option value="De entrega" >De entrega</option>
                                <option value="De retiro" >De retiro</option>


                            </select>
                        <input id="fecha" class="w3-input" type="date">
                        <input id="hora" class="w3-input" type="time">

                        <input class="w3-input w3-mobile" type="text" placeholder="Ingresar número de contrato" id="contrato" required>
                        <input class="w3-input w3-mobile" type="text" placeholder="Ingresar descripción" id="descripcion" required>
                        <button onclick="document.getElementById('modalNuevo').style.display = 'none'" class="w3-button  w3-dark-grey w3-right w3-section w3-padding">Cancelar</button>
                        <button onclick="guardarActas()" class="w3-button  w3-teal w3-right w3-section w3-padding">Guardar</button>





                    </div>



                </div>




            </div>




        </div>
    </div>

    <div id="modalVer" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-animate-zoom" style=" max-width: 220mm">
            <header class="w3-container w3-teal">
                <span onclick="document.getElementById('modalVer').style.display = 'none'" class="w3-button w3-display-topright">&times;</span>

                <p id="lblCodigo"></p>

            </header>
            <input type="hidden" id="txtCodigo" value='{{codigo}}'>
            <div class="w3-container ">
                <a href="#" onclick="return xepOnline.Formatter.Format('datosActa', {render:'download'});">
                    <spam class="w3-button w3-teal w3-margin  w3-large fa fa-download">

                    </spam>
                </a>
                <div id="prueba" class="w3-container w3-card-4" style="margin: 10px; max-width: 210mm">
                    <div id="datosActa" class="w3-container ">
                        <img src="../images/logo_cineto.png" class="w3-margin-top w3-hide">
                        <h2>CINETO TELECOMUNICACIONES S.A.</h2>
                        <hr>
                        <h3 class="w3-center">Acta de entega: {{acta}}</h3>
                        <p><strong>Cliente: </strong> {{cliente}}</p>
                        <p><strong>Contrato: </strong> {{contrato}} </p>
                        <p><strong>Fecha: </strong>{{fecha}}</p>
                        <p><strong>Hora: </strong>{{hora}}</p>
                        <br>
                        <div class="w3-responsive">
                            <hr>
                            <p>POR LA PRESENTE CINETO TELECOMUNICACIONES S.A. REALIZA LA ENTREGA DEL MATERIAL QUE A CONTINUACION
                                SE DETALLA</p>
                            <table id="listaDetalle" class="w3-table  w3-bordered">
                                <thead>
                                    <tr class="w3-dark-grey">
                                        <th>Código</th>
                                        <th>Serie</th>
                                        <th>Producto</th>
                                    </tr>
                                </thead>
                                <tbody class="">
                                    <tr w3-repeat="resultados" class="item">
                                        <td>{{codigo}}</td>
                                        <td>{{serie}}</td>
                                        <td>{{modelo}}</td>

                                    </tr>
                                </tbody>
                            </table>
                            <hr>
                        </div>
                        <div class="w3-container">
                            <ul id="listaDetalle2" class="list w3-ul w3-white w3-hide  w3-border">
                                <li class=" w3-padding-16 " w3-repeat="resultados">
                                    <div class="w3-row">

                                        <div class="w3-col s12 m12 l12">

                                            <span> <strong>Serie: </strong>{{serie}}<br></span>
                                            <span> <strong>Código: </strong>{{codigo}}<br></span>
                                            <span> <strong>Producto: </strong>{{modelo}}<br></span>
                                            <span> <strong>Categoría: </strong>{{categoria}}<br></span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <br>
                        <p><strong>Observación: </strong>{{descripcion}} </p>
                        <br>
                        <div class="w3-row">
                            <div class="w3-col s6 l6 m6 w3-center">
                                <p>

                                    _________________________
                                    <BR> FIRMA CLIENTE<br>

                                </p>
                            </div>
                            <div class="w3-col s6 l6 m6 w3-center">
                                <p>

                                    _________________________
                                    <BR> REPRESENTANTE CINETO
                                </p>
                            </div>

                        </div>
                        <footer class="w3-container w3-white " style="margin-bottom: 10px">
                            <p class="w3-text-gray w3-center">Cineto Telecomunicaciones S.A. - La Pinta 236 y Rábida. Quito Ecuador, Edficio Alcatel</p>

                        </footer>
                    </div>




                </div>
            </div>
        </div>
    </div>

    <div id="modalAnadir" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-animate-zoom" style=" max-width: 220mm">
            <header class="w3-container w3-teal">
                <span onclick="document.getElementById('modalAnadir').style.display = 'none'" class="w3-button w3-display-topright">&times;</span>

                <p id="lblCodigo">Añadir productos</p>

            </header>
            <input type="hidden" id="txtCodigo" value='{{codigo}}'>
            <div class="w3-container ">

                <div id="prueba" class="w3-container " style="margin: 10px; max-width: 210mm">
                    <div id="datosActa" class="w3-container ">
                        <img src="../images/logo_cineto.png" class="w3-margin-top w3-hide">


                        <div class="w3-responsive">

                            <div class="w3-bar w3-light-grey w3-card-2 w3-padding">

                                <div class="w3-row">
                                    
                                    <div class="w3-col s12 m12 l12 w3-right">
                                        <button onclick="buscar();" class="w3-bar-item w3-button w3-teal w3-right"><span class="fa fa-search"></span></button>
                                        <input id="txtBuscarProd" type="text" class=" w3-bar-item w3-input  w3-right  " placeholder="Buscar productos..">
                                        <i id="cargando" class="w3-text-teal fa fa-spinner fa-pulse fa-2x  fa-fw w3-bar-item  w3-right w3-hide "></i>

                                    </div>

                                </div>


                            </div>
                      

                            <ul id="listaProductos" class="list w3-ul w3-card-4 w3-white w3-hide ">
                                <li class=" w3-padding-16 " w3-repeat="productos">
                                    <div class="w3-row">

                                        <div class="w3-col s6 m6 l8">
                                            <span> <strong>{{nombre}}</strong><br></span>
                                            <br>
                                            <span> <strong >Serie: </strong>{{serie}}<br></span>
                                            <span> <strong >Código: </strong>{{codigo}}<br></span>

                                            <span> <strong>Categoría: </strong>{{categoria}}<br></span>
                                            <span> <strong>Ubicación: </strong>{{ubicacion}}<br></span>



                                        </div>
                                        <div class="w3-col s3 m3 l2 w3-center">

                                            <button onclick="guardarProductos('{{serie}}','{{codigo}}')" class=" w3-button w3-padding w3-white w3-border w3-border-gray w3-medium  ">
                                    <span class="fa fa-plus"></span> 
                                </button>

                                        </div>
                                    </div>






                                </li>



                            </ul>
                       
                        </div>
                     
                    </div>
                    <div class="w3-container w3-card-4">
                        <ul id="listaDetalle2" class="list w3-ul w3-white w3-hide  w3-border">
                            <li class=" w3-padding-16 " w3-repeat="resultados">
                                <div class="w3-row">

                                    <div class="w3-col s12 m12 l12">

                                        <span> <strong>Serie: </strong>{{serie}}<br></span>
                                        <span> <strong>Código: </strong>{{codigo}}<br></span>
                                        <span> <strong>Producto: </strong>{{modelo}}<br></span>
                                        <span> <strong>Categoría: </strong>{{categoria}}<br></span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <br>

                    <br>

                    
                </div>




            </div>
        </div>
    </div>
    </div>

    <script src="../jquery-2.1.1.js" type="text/javascript"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script src="../javascripts/gestionActa.js" type="text/javascript"></script>
    <script src="../javascripts/toPdf.js" type="text/javascript"></script>




    <script>
        function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
        }
        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
        }
    </script>
    <script>
        w3.includeHTML();
    </script>










</body>





</html>