<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../stylesheets/w3.css" rel="stylesheet" type="text/css"/>
        <title>Inventario | Inicio</title>
        <link href="../stylesheets/menus.css" rel="stylesheet" type="text/css"/>
        <script src="../javascripts/index.js" type="text/javascript"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="../sweetalert/dist/sweetalert.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../sweetalert/dist/sweetalert.css">
        <script src="https://www.w3schools.com/lib/w3.js"></script>

    </head>

    <body >

        <div class="topnav" id="myTopnav">


            <a href="/home" class="w3-bar-item w3-button "><span class="fa fa-home"></span> Inventario</a>
            <a href="/cliente" class="w3-bar-item w3-button"><span class="fa fa-address-book"></span> Clientes</a>
            <a href="#" class="w3-bar-item w3-button"><span class="fa fa-wrench"></span> Técnicos</a>
            <a href="/inventario" class="w3-bar-item w3-button"><span class="fa fa-th-large"></span> Inventario</a>
            <a href="/ingresos" class="w3-bar-item w3-button"><span class="fa fa-shopping-cart"></span> Ingresos</a>
            <a href="/ingresos" class="w3-bar-item w3-button"><span class="fa fa-truck"></span> Egresos</a>


            <a href="/logout" class="w3-bar-item w3-right"><span class="fa fa-sign-out"></span> Cerrar sesión</a>
            <a href="#" class="w3-bar-item w3-right"><span class="fa fa-user"></span> <%-usuario.nombres_usuario%></a>


            <a style="font-size:15px;" class="icon" onclick="myFunction()"> &#9776;</a>
        </div>


        <div class="w3-bar w3-dark-grey w3-padding w3-card-4 ">





            <div class=" w3-mobile">
                <button onclick="document.getElementById('id01').style.display = 'block'" class=" w3-bar-item w3-button w3-red  w3-circle w3-btn w3-left  "><span class="fa fa-plus"></span></button>
                <button  class="w3-bar-item w3-button w3-blue w3-right  "><span class="fa fa-search"></span></button>
                <input oninput="w3.filterHTML('#listaClientes', 'li', this.value)" id="txtBuscar" type="text" class="w3-bar-item w3-input w3-white w3-right  " placeholder="Buscar clientes..">



            </div>


        </div>
        <div class="w3-sidebar w3-bar-block w3-collapse w3-card-2 w3-animate-left w3-dark-grey" style="width:200px;" id="mySidebar">
            <button class="w3-bar-item w3-button w3-large w3-hide-large" onclick="w3_close()">Cerrar &times;</button>
            <label class="w3-bar-item">Filtros:</label>
            <label class="w3-bar-item">Por categoría</label>
            <select id="categoria" class="w3-bar-item">

            </select>


        </div>
        <div class="w3-main" style="margin-left:200px">
            <div class="w3-dark-grey">
                <button class="w3-button w3-dark-grey w3-xlarge w3-hide-large" onclick="w3_open()">&#9776; <span class="fa fa-filter"></span></button>


            </div>
            <div class="w3-container">
                <h4 id="mensaje"></h4>
                <ul id="listaClientes" class="w3-ul w3-card-4">
                    <li class="w3-padding-16" w3-repeat="clientes">
                        <span onclick="eliminarCliente({{cedula}})" 
                              class="w3-button w3-white w3-xlarge w3-right"><button  class=" w3-button   "><span class="fa fa-trash-o"></span></button></span>
                        <img src="../images/client.png" class="w3-left w3-circle w3-margin-right" style="width:50px">
                        <span class="w3-large">{{nombre}} {{apellido}}</span><br>
                        <span> <strong>Cédula: </strong>{{cedula}}<br></span>
                        <span> <strong>Teléfonos : </strong>{{domicilio}} - {{celular}}<br></span>
                        <span> <strong>Correo : </strong><a href="mailto:{{correo}}">{{correo}}</a><br></span>

                    </li>

                </ul>




            </div>
        </div>
        <div id="id01" class="w3-modal">
            <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

                <div class="w3-center"><br>
                    <div class=" w3-container w3-blue-gray">
                        <h3>Nuevo Cliente</h3>
                    </div>
                </div>

                <form class="w3-container"  method="post" action="/cliente/nuevoRegistro">
                    <div class="w3-section">
                        <div class="w3-row">
                            <div class="w3-col s12 m12 l6 w3-padding">

                                <input class="w3-input w3-mobile" type="text" placeholder="Ingresar cédula" name="cedula" required>                                          
                                <input class="w3-input" type="text" placeholder="Ingresar nombres" name="nombre" required>
                                <input class="w3-input" type="text" placeholder="Ingresar apellidos" name="apellido" required>
                                <select id="genero" class="w3-select"   name="genero" required>

                                </select>
                                <select id="estado" class="w3-select"   name="estado" required>
                                    <option disabled selected>Seleccionar estado civil...</option>
                                </select>
                                <input class="w3-input" type="number" placeholder="No. teléfono fijo" name="domicilio" required>



                            </div>

                            <div class="w3-col s12 m12 l6 w3-padding">
                                <input class="w3-input" type="number" placeholder="No. celular" name="celular" required>
                                <input class="w3-input" type="email" placeholder="Email" name="correo" required>
                                <input class="w3-input" type="date" placeholder="Fecha de nacimiento" name="fecha" required>
                                <input class="w3-input" type="text" placeholder="País" name="pais" required>
                                <input class="w3-input" type="text" placeholder="Ciudad" name="ciudad" required>
                                <input class="w3-input" type="text" placeholder="Dirección" name="direccion" required>
                            </div>

                        </div>


                        <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Guardar</button>


                    </div>
                </form>

                <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                    <button onclick="document.getElementById('id01').style.display = 'none'" type="button" class="w3-button w3-red">Cancelar</button>

                </div>

            </div>
        </div>

        <script src="../jquery-2.1.1.js" type="text/javascript"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script src="../javascripts/gestionCliente.js" type="text/javascript"></script>




        <script>


                        function w3_open() {
                        document.getElementById("mySidebar").style.display = "block";
                        }
                        function w3_close() {
                        document.getElementById("mySidebar").style.display = "none";
                        }
        </script>









    </body>





</html>
