<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../stylesheets/w3.css" rel="stylesheet" type="text/css"/>
        <title>Inventario | Inicio</title>
        <link href="../stylesheets/menus.css" rel="stylesheet" type="text/css"/>
        <script src="../javascripts/index.js" type="text/javascript"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="../sweetalert/dist/sweetalert.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../sweetalert/dist/sweetalert.css">
        <script src="https://www.w3schools.com/lib/w3.js"></script>

    </head>

    <body class="w3-white" >

        <div class="topnav" id="myTopnav">


            <a href="/home" class="w3-bar-item w3-button "><span class="fa fa-home"></span> Inicio</a>
            <a href="/cliente" class="w3-bar-item w3-button"><span class="fa fa-address-book"></span> Clientes</a>

            <a href="/inventario" class="w3-bar-item w3-button"><span class="fa fa-th-large"></span> Inventario</a>

            <a href="/acta" class="w3-bar-item w3-button"><span class="fa fa-file"></span> Actas</a>


            <a href="/logout" class="w3-bar-item w3-right"><span class="fa fa-sign-out"></span> Cerrar sesión</a>
            <a  class="w3-bar-item w3-right"><span class="fa fa-user-circle"></span> <%-usuario.nombres_usuario%></a>
            <input id="nombreUsuario" class="w3-hide" value="<%-usuario.nombre_usuario%>">



            <a style="font-size:15px;" class="icon" onclick="myFunction()"> <span class="fa fa-bars"></span></a>

        </div>


        <div class="w3-bar w3-light-grey w3-padding w3-card-4 ">





            <div class=" w3-mobile">
                <button onclick="document.getElementById('id01').style.display = 'block'" class=" w3-bar-item w3-button w3-teal  w3-circle w3-btn w3-left  "><span class="fa fa-plus"></span></button>
                <button  class="w3-bar-item w3-button w3-teal w3-right "><span class="fa fa-search"></span></button>
                <input oninput="w3.filterHTML('#listaClientes', 'li', this.value)" id="txtBuscar" type="text" class="w3-bar-item w3-input w3-white w3-right " placeholder="Buscar clientes..">



            </div>


        </div>
        <div class="w3-sidebar w3-bar-block w3-collapse w3-card-2 w3-animate-left w3-white w3-card-2 w3-margin-top" style="width:200px;" id="mySidebar">
            <button class="w3-bar-item w3-button w3-large w3-hide-large" onclick="w3_close()">Cerrar &times;</button>



        </div>
        <div class="w3-main" style="margin-left:200px">



            <div class="w3-white">
                <button class="w3-button w3-white w3-text-teal w3-xlarge w3-hide-large" onclick="w3_open()">&#9776; </button>


            </div>
            <div class="w3-container ">
                <h4 id="mensaje"></h4>



                <ul id="listaClientes" class="w3-ul w3-card-4 w3-white w3-hide">
                    <li class="w3-padding-16" w3-repeat="clientes">

                        <div class="w3-row">
                            <div class="w3-col s3 m2 l1">
                                <img src="../images/client2.png" class="w3-left  w3-margin-right" style="width:50px">
                            </div>
                            <div class="w3-col s6 m6 l8">
                                <span class="w3-large">{{nombre}} {{apellido}}</span><br>
                                <span> <strong>Cédula: </strong>{{cedula}}<br></span>
                                <span> <strong>Teléfonos : </strong>{{domicilio}} - {{celular}}<br></span>
                                <span> <strong>Correo : </strong><a href="mailto:{{correo}}">{{correo}}</a><br></span>
                            </div>
                            <div class="w3-col s3 m3 l2 w3-center">
                                <span> <strong>Contratos: </strong>{{cantidad}}<br></span><br>
                                <span onclick="eliminarCliente({{cedula}})" 
                                      ><button  class=" w3-button w3-white w3-border w3-border-gray   "><span class="fa fa-trash"></span></button></span>
                                <span onclick="eliminarCliente({{cedula}})" 
                                      ><button  class=" w3-button w3-white w3-border w3-border-gray   "><span class="fa fa-file"></span></button></span>
                            </div>
                        </div>





                    </li>

                </ul>






            </div>
        </div>
        <div id="id01" class="w3-modal">
            <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

                <header class="w3-container w3-teal"> 
                    <span onclick="document.getElementById('id01').style.display = 'none'" 
                          class="w3-button w3-display-topright">&times;</span>
                    <h4>Nuevo Cliente</h4>
                </header>

                <div class="w3-container"  >
                    <div class="w3-section">
                        <div class="w3-row">
                            <div class="w3-col s12 m12 l6 w3-padding">

                                <input class="w3-input w3-mobile w3-border" type="text" placeholder="Ingresar cédula" id="cedula" required>                                          
                                <input class="w3-input w3-border" type="text" placeholder="Ingresar nombres" id="nombre" required>
                                <input class="w3-input w3-border" type="text" placeholder="Ingresar apellidos" id="apellido" required>
                                <select id="genero" class="w3-select w3-border"   id="genero" required>

                                </select>
                                <select id="estado" class="w3-select w3-border"   id="estado" required>
                                    <option disabled selected>Seleccionar estado civil...</option>
                                </select>
                                <input class="w3-input w3-border" type="number" placeholder="No. teléfono fijo" id="domicilio" required>



                            </div>

                            <div class="w3-col s12 m12 l6 w3-padding">
                                <input class="w3-input w3-border" type="number" placeholder="No. celular" id="celular" required>
                                <input class="w3-input w3-border" type="email" placeholder="Email" id="correo" required>
                                <input class="w3-input w3-border" type="date" placeholder="Fecha de nacimiento" id="fecha" required>
                                <input class="w3-input w3-border" type="text" placeholder="País" id="pais" required>
                                <input class="w3-input w3-border" type="text" placeholder="Ciudad" id="ciudad" required>
                                <input class="w3-input w3-border" type="text" placeholder="Dirección" id="direccion" required>
                            </div>

                        </div>



                        <button class="w3-button  w3-teal w3-right w3-section w3-padding" onclick="guardarCliente()">Guardar</button>

                    </div>
                </div>



            </div>
        </div>




    </div>
</div>


<div id="miReporte"  class="w3-container w3-row w3-hide" style="width: 820.15748px"  >
    <div class="w3-row">
        <div class="w3-col s3 m2 l1">
            <img src="../images/logo_cineto.png" class="w3-left  w3-margin-right" style="width:250px">

        </div>

        <div class="w3-col s3 m3 l2 w3-center">
            <span> <strong>Fecha: </strong><br></span><br>

        </div>
    </div>
    <hr>
    <div class="w3-row">
        <table class="w3-table" id="reporte">
            <tr w3-repeat="clientes">
                <th>Cédula</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Apellidos</th>
                <th>Género</th>
                <th>Estado civil</th>
            </tr>
            <tr>
                <td>{{cedula}}</td>
                <td>{{nombre}}</td>
                <td>{{apellido}}</td>
                <td>{{genero}}</td>
                <td>{{estado}}</td>
                <td>{{domicilio}}</td>
                <td>{{celular}}</td>
                <td>{{correo}}</td>
            </tr>

        </table>
    </div>



</div>

<script src="../jquery-2.1.1.js" type="text/javascript"></script>

<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script src="../javascripts/gestionCliente.js" type="text/javascript"></script>




<script>


                            function w3_open() {
                            document.getElementById("mySidebar").style.display = "block";
                            }
                            function w3_close() {
                            document.getElementById("mySidebar").style.display = "none";
                            }
</script>
<script>
    w3.includeHTML();</script>











</body>





</html>
