<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../stylesheets/w3.css" rel="stylesheet" type="text/css"/>
        <title>Inventario | Inicio</title>
        <link href="../stylesheets/menus.css" rel="stylesheet" type="text/css"/>
        <script src="../javascripts/index.js" type="text/javascript"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://www.w3schools.com/lib/w3.js"></script>


    </head>

    <body >

        <div class="topnav" id="myTopnav">

            <a href="#" class="w3-bar-item w3-button ">Sistema de inventario</a>
            <a href="/home" class="w3-bar-item w3-button "><span class="fa fa-home"></span> Inicio</a>
            <a href="/cliente" class="w3-bar-item w3-button"><span class="fa fa-address-book"></span> Clientes</a>
            <a href="#" class="w3-bar-item w3-button"><span class="fa fa-wrench"></span> Técnicos</a>
            <a href="/inventario" class="w3-bar-item w3-button"><span class="fa fa-th-large"></span> Inventario</a>


            <a href="/logout" class="w3-bar-item w3-right"><span class="fa fa-sign-out"></span> Cerrar sesión</a>
            <a href="#" class="w3-bar-item w3-right"><span class="fa fa-user"></span> <%-usuario.nombres_usuario%></a>


            <a style="font-size:15px;" class="icon" onclick="myFunction()"> &#9776;</a>
        </div>


        <div class="w3-bar w3-dark-grey w3-padding w3-card-4 ">





            <div class=" w3-mobile">
                <button onclick="document.getElementById('modalNuevo').style.display = 'block'" class=" w3-bar-item w3-button w3-red  w3-circle w3-btn w3-left  "><span class="fa fa-plus"></span></button>
                <button onclick="buscar();" class="w3-bar-item w3-button w3-blue w3-right  "><span class="fa fa-search"></span></button>
                <input id="txtBuscar" type="text" class="w3-bar-item w3-input w3-white w3-right  " placeholder="Buscar productos..">



            </div>


        </div>
        <div class="w3-sidebar w3-bar-block w3-collapse w3-card-4 w3-animate-left w3-dark-grey w3-mobile" style="width:200px;" id="mySidebar">
            <button class="w3-bar-item w3-button w3-large w3-hide-large" onclick="w3_close()">Cerrar &times;</button>
            <label class="w3-bar-item">Filtros:</label>
            <label class="w3-bar-item">Por categoría</label>
            <select id="cbxCategoria" class="w3-bar-item">
                <option>Seleccionar categoria...</option>
                <option w3-repeat="resultados">{{label}}</option>
            </select>
            <label class="w3-bar-item">Por marca</label>

            <select id="cbxMarca" class="w3-bar-item">
                <option>Seleccionar marca...</option>
                <option w3-repeat="resultados">{{label}}</option>
            </select>

            <label class="w3-bar-item">Por almacen</label>

            <select id="cbxAlmacen" class="w3-bar-item">
                <option>Seleccionar almacen...</option>
                <option w3-repeat="resultados">
                    {{label}}
                </option>
            </select>


        </div>
        <div class="w3-main w3-mobile" style="margin-left:200px">
            <div class="w3-dark-grey">
                <button class="w3-button w3-dark-grey w3-xlarge w3-hide-large" onclick="w3_open()">&#9776; <span class="fa fa-filter"></span></button>


            </div>
            <div class="w3-container">
                <h4 id="mensaje"></h4>
                <ul id="listaProductos" class="w3-ul w3-card-4">
                    <li class="w3-padding-16" w3-repeat="productos">
                        <span onclick="eliminarCliente({{codigo}})" 
                              class="w3-button w3-white w3-xlarge w3-right"><button  class=" w3-button   "><span class="fa fa-trash-o"></span></button></span>
                        <img src="../images/box2.png" class="w3-left w3-circle w3-margin-right" style="width:50px">
                        <span class="w3-large">{{nombre}}</span><br>
                        <span> <strong>Código: </strong>{{codigo}}<br></span>
                        <span> <strong>Marca: </strong>{{marca}}<br></span>
                        <span> <strong>Categoría: </strong>{{categoria}}<br></span>
                        <span> <strong>Cantidad: </strong>{{cantidad}}<br></span>


                    </li>

                </ul>
            </div>
        </div>

        <div id="modalNuevo" class="w3-modal ">
            <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

                <header class="w3-container w3-dark-grey"> 
                    <span onclick="document.getElementById('modalNuevo').style.display = 'none'" 
                          class="w3-button w3-display-topright">&times;</span>
                    <h2>Nuevo producto</h2>
                </header>

                <form class="w3-container"  method="post" action="/modelo/nuevoProducto">
                    <div class="w3-section">
                        <div class="w3-row">
                            <div class="w3-col s12 m12 l12 w3-padding">

                                <input class="w3-input w3-mobile" type="text" placeholder="Ingresar código" name="codigo" required>                                          
                                <input class="w3-input" type="text" placeholder="Ingresar nombre del producto" name="nombre" required>

                                <select id="cbxCategoria2" class="w3-select"   name="categoria" requir                                        ed>
                                    <option>Seleccionar categoría...</option>
                                    <option w3-repeat="resultados">
                                        {{label}}
                                    </option>
                                </select>
                                <select id="cbxMarca2" class="w3-select"   name="marca" required>
                                    <option>Seleccionar marca...</option>
                                    <option w3-repeat="resultados">
                                        {{label}}
                                    </option>
                                </select>




                            </div>



                        </div>


                        <button class="w3-button  w3-blue w3-right w3-section w3-padding" type="submit">Guardar</button>

                    </div>
                </form>
             


            </div>
        </div>

        <div id="id01" class="w3-modal">
            <div class="w3-modal-content w3-animate-top w3-card-4">
                <header class="w3-container w3-teal"> 
                    <span onclick="document.getElementById('id01').style.display = 'none'" 
                          class="w3-button w3-display-topright">&times;</span>
                    <h2 id="txtCod"></h2>
                </header>
                <div class="w3-responsive">
                    <label id="txtNombre"></label>

                    <table id="tablaDetalle" class="w3-table-all">

                    </table>
                </div>
                <footer class="w3-container w3-teal">
                    <p>Modal Footer</p>
                </footer>
            </div>





            <div id="id01" class="w3-modal">
                <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

                    <div class="w3-center"><br>
                        <div class=" w3-container w3-blue-gray">
                            <h3>Nuevo Cliente</h3>
                        </div>
                    </div>

                    <form class="w3-container" action="/action_page.php">
                        <div class="w3-section">
                            <div class="w3-row">
                                <div class="w3-col s12 m12 l6">
                                    <label>Nombres</label>
                                    <input class="w3-input" type="text" placeholder="Enter Username" name="usrname" required>
                                    <label>Apellidos</label>
                                    <input class="w3-input" type="password" placeholder="Enter Password" name="psw" required>
                                    <label>Género</label>
                                    <select class="w3-select"   name="genero" required>
                                        <option disabled selected>Seleccionar género</option>
                                    </select>
                                    <label>Estado civil</label>
                                    <select class="w3-select"   name="genero" required>
                                        <option disabled selected>Seleccionar estado civil</option>
                                    </select>

                                </div>
                                <div class="w3-col s12 m12 l6">

                                </div>

                            </div>


                            <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Guardar</button>

                        </div>
                    </form>

                    <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                        <button onclick="document.getElementById('id01').style.display = 'none'" type="button" class="w3-button w3-red">Cancelar</button>

                    </div>

                </div>
            </div>
        </div>

        <script src="../jquery-2.1.1.js" type="text/javascript"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script src="../javascripts/gestionProducto.js" type="text/javascript"></script>





        <script>
                            function w3_open() {
                            document.getElementById("mySidebar").style.display = "block";
                            }
                            function w3_close() {
                            document.getElementById("mySidebar").style.display = "none";
                            }
        </script>

        <script>
            var a = usuario.nombres_usuario;
            alert(a);
        </script>







    </body>





</html>
