<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../stylesheets/w3.css" rel="stylesheet" type="text/css" />
        <title>Inventario | Inicio</title>
        <link href="../stylesheets/menus.css" rel="stylesheet" type="text/css" />
        <script src="../javascripts/index.js" type="text/javascript"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="../javascripts/w.js" type="text/javascript"></script>

        <script src="../sweetalert/dist/sweetalert.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../sweetalert/dist/sweetalert.css">
        <link href="../stylesheets/styles.css" rel="stylesheet" type="text/css" />
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>

    </head>

    <style>
        .pagination li {
            display: inline-block;
            padding: 5px;
        }
    </style>

    <body class="w3-white">

        <div class="topnav" id="myTopnav">


            <a href="/home" class="w3-bar-item w3-button "><span class="fa fa-home"></span> Inicio</a>
            <a href="/cliente" class="w3-bar-item w3-button"><span class="fa fa-address-book"></span> Clientes</a>

            <a href="/inventario" class="w3-bar-item w3-button"><span class="fa fa-th-large"></span> Inventario</a>

            <a href="/acta" class="w3-bar-item w3-button"><span class="fa fa-file"></span> Actas</a>


            <a href="/logout" class="w3-bar-item w3-right"><span class="fa fa-sign-out"></span> Cerrar sesión</a>
            <a  class="w3-bar-item w3-right"><span class="fa fa-user-circle"></span> <%-usuario.nombres_usuario%></a>



            <a style="font-size:15px;" class="icon" onclick="myFunction()"> <span class="fa fa-bars"></span></a>

        </div>

        <div class="w3-main ">

            <div class="row">


                <div class="w3-col s6 m4 l3 w3-padding">
                    <div class="w3-card-4">


                        <div class="w3-container w3-padding w3-center w3-white">
                            <img src="../images/chart.png" alt="Avatar" class="w3-center  " style="width:60px">
                            <p>Reporte por categoría</p>
                            <select id="cbxCategoria" class="w3-bar-item w3-border w3-select">
                                <option>Seleccionar...</option>
                                <option w3-repeat="resultados">{{label}}</option>
                            </select>
                        </div>
                        <a onclick="cargarTablaDetalle('categoria')" class="w3-button w3-block w3-teal">Previsualizar</a>
                    </div>


                </div>

                <div class="w3-col s6 m4 l3 w3-padding">
                    <div class="w3-card-4">


                        <div class="w3-container w3-padding w3-center w3-white">
                            <img src="../images/chart.png" alt="Avatar" class="w3-center  " style="width:60px">
                            <p>Reporte por marca</p>
                            <select id="cbxMarca" class="w3-bar-item w3-border w3-select">
                                <option>Seleccionar...</option>
                                <option w3-repeat="resultados">{{label}}</option>
                            </select>
                        </div>
                        <a onclick="cargarTablaDetalle('marca')" class="w3-button w3-block w3-teal">Previsualizar</a>
                    </div>


                </div>
                <div class="w3-col s6 m4 l3 w3-padding">
                    <div class="w3-card-4">


                        <div class="w3-container w3-padding w3-center w3-white">
                            <img src="../images/chart.png" alt="Avatar" class="w3-center  " style="width:60px">
                            <p>Reporte por almacen</p>
                            <select id="cbxAlmacen" class="w3-bar-item w3-border w3-select">
                                <option>Seleccionar...</option>
                                <option w3-repeat="resultados">{{label}}</option>
                            </select>
                        </div>
                        <a onclick="cargarTablaDetalle('almacen')" class="w3-button w3-block w3-teal">Previsualizar</a>
                    </div>


                </div>
                <div class="w3-col s6 m4 l3 w3-padding">
                    <div class="w3-card-4">


                        <div class="w3-container w3-padding w3-center w3-white">
                            <img src="../images/chart.png" alt="Avatar" class="w3-center  " style="width:60px">
                            <p>Reporte por fecha de ingreso</p>
                            <select id="cbxAlmacen" class="w3-bar-item w3-border w3-select">
                                <option>Seleccionar...</option>
                                <option w3-repeat="resultados">{{label}}</option>
                            </select>
                        </div>
                        <a onclick="cargarTablaDetalle('almacen')" class="w3-button w3-block w3-teal">Previsualizar</a>
                    </div>


                </div>

            </div>
            <div class="w3-row">
                <div class="w3-col s12 m12 l6 w3-padding">
                    <div class="w3-card-4">


                        <div id="container"></div>

                    </div>
                </div>
                <div class="w3-col s12 m12 l6 w3-padding">
                    <div class="w3-card-4">


                        <div id="container2"></div>

                    </div>
                </div>
            </div>


        </div>





        <div id="modalVer" class="w3-modal ">
            <div class="w3-modal-content w3-card-4 w3-animate-zoom" style=" max-width: 220mm">

                <header class="w3-container w3-teal">
                    <span onclick="document.getElementById('modalVer').style.display = 'none'" class="w3-button w3-display-topright">&times;</span>

                    <p id="lblCodigo">Vista previa</p>

                </header>


                <input type="hidden" id="txtCodigo" value='{{codigo}}'>
                <div class="w3-container ">
                    <a href="#" onclick="return xepOnline.Formatter.Format('reporte', {render: 'download'});">
                        <spam class="w3-button w3-teal w3-margin  w3-large fa fa-download">

                        </spam>
                    </a>
                    <div id="reporte">
                        <div id="datosActa">
                            <img src="../images/logo_cineto.png" class="w3-margin-top w3-hide">
                            <h2>CINETO TELECOMUNICACIONES S.A.</h2>
                            <hr>
                            <p><strong>{{opcion}}: </strong> {{valor}}</p>
                            <p><strong>Registros: </strong> {{cantidad}}</p>

                        </div>
                        <div class="w3-responsive">

                            <hr>

                            <table id="listaDetalle" class="w3-table  w3-bordered">
                                <thead>
                                    <tr class="w3-dark-grey">
                                        <th>Artículo</th>
                                        <th>Código</th>
                                        <th>Marca</th>
                                        <th>Cant.</th>
                                    </tr>
                                </thead>
                                <tbody class="">
                                    <tr w3-repeat="productos" class="item">
                                        <td>{{nombre}}</td>
                                        <td>{{codigo}}</td>
                                        <td>{{marca}}</td>
                                        <td>{{cantidad}}</td>

                                    </tr>
                                </tbody>
                            </table>
                            <hr>
                        </div>
                        <footer class="w3-container w3-white " style="margin-bottom: 10px">
                            <p class="w3-text-gray w3-center">Cineto Telecomunicaciones S.A. - La Pinta 236 y Rábida. Quito Ecuador, Edficio Alcatel</p>

                        </footer>

                    </div>







                    <div class="w3-row">

                    </div>
                </div>
            </div>
        </div>


        <script src="../jquery-2.1.1.js" type="text/javascript"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script src="../javascripts/gestionReportes.js" type="text/javascript"></script>
        <script src="../javascripts/list.min.js" type="text/javascript"></script>
        <script src="../javascripts/jsonconverter.js" type="text/javascript"></script>
        <script src="../javascripts/jquery.pajinate.js" type="text/javascript"></script>
        <script src="../javascripts/toPdf.js" type="text/javascript"></script>
        <script>

        </script>
        <script>
            function w3_open() {
                document.getElementById("mySidebar").style.display = "block";
            }
            function w3_close() {
                document.getElementById("mySidebar").style.display = "none";
            }
        </script>
        <script>
            w3.includeHTML();
        </script>


    </body>


</html>